<div class="hidden-scroll">
	<div class="scrollbar">
		<span class="current"></span>
		
		<hr class="y" data-l="36" />
		<hr class="x" data-l="40" data-d="r" />
		<hr class="y" data-l="35"/>
		<hr class="x" data-l="52" data-d="r" />
		<hr class="y" data-l="30"/>
		<hr class="x" data-l="68" data-d="l" />
	</div>
	
	<h1>Tessa Ann Taylor</h1>

	<div class="links">
		<%= link_to '', "http://coapp.co", :alt => "Co", :class => "co", :target => "_blank" %>
		<%= link_to '', "http://beautifully.unapologeticallycss.com", :alt => "Beautifully, Unapologetically CSS", :class => "iphone", :target => "_blank" %>
		<%= link_to '', "http://c0d3rgirl.com", :alt => "c0d3rgirl", :class => "c0d3rgirl", :target => "_blank" %>
		<%= link_to '', "http://startupheadlinegenerator.com", :alt => "Startup Headline Generator", :class => "startupheadline", :target => "_blank" %>
		<%= link_to '', "http://hauteornot.herokuapp.com", :alt => "Haute or Not", :class => "hauteornot", :target => "_blank" %>
		
		<span class="spacer"></span>
	</div>
</div>