<h1>Tessa Ann Taylor,</h1>
<h2>The Code and Styles of</h2>

<div class="hidden-scroll">
	<div class="scrollbar">
		<span class="current"></span>
		
		<hr class="y" data-l="30" />
		<hr class="x r" data-l="30" />
		<hr class="y" data-l="32" />
		<hr class="y" data-l="28"/>
		<hr class="x l" data-l="30"/>
	</div>

	<div class="scroll-content">
		<div class="board elements">
			<%= link_to '', "http://coapp.co", :alt => "Co", :class => "element co", :target => "_blank" %>
			<%= link_to '', "http://beautifully.unapologeticallycss.com", :alt => "Beautifully, Unapologetically CSS", :class => "element iphone", :target => "_blank" %>
			<%= link_to '', "http://c0d3rgirl.com", :alt => "c0d3rgirl", :class => "element c0d3rgirl", :target => "_blank" %>
			<%= link_to '', "http://startupheadlinegenerator.com", :alt => "Startup Headline Generator", :class => "element startupheadline", :target => "_blank" %>
			<%= link_to '', "http://hauteornot.herokuapp.com", :alt => "Haute or Not", :class => "element hauteornot", :target => "_blank" %>
		</div>
	</div>

</div>