<h1>Tessa Ann Taylor,</h1>
<h2>The Code and Styles of</h2>

<div class="custom-scroll">
	
	<div class="scrollbar">
		<span class="current"></span>

	</div>

	<div class="scroll-content elements">
		
		<%= link_to '', "http://coapp.co", :alt => "Co", :class => "element co", :target => "_blank" %>
		<hr class="y">
		<%= link_to '', "http://beautifully.unapologeticallycss.com", :alt => "Beautifully, Unapologetically CSS", :class => "element iphone", :target => "_blank" %>
		<hr class="x">
		<%= link_to '', "http://c0d3rgirl.com", :alt => "c0d3rgirl", :class => "element c0d3rgirl", :target => "_blank" %>
		<hr class="y">
		<%= link_to '', "http://startupheadlinegenerator.com", :alt => "Startup Headline Generator", :class => "element startupheadline", :target => "_blank" %>
		<hr class="x">
		<%= link_to '', "http://hauteornot.herokuapp.com", :alt => "Haute or Not", :class => "element hauteornot", :target => "_blank" %>
		
	</div>

</div>